//  === Colores === 

$primery: #e5e5e5;
$underline: #FFCC00;
$text-color: #4a4a4a;

// === Fonts  ===

$header-font-size: 1.6rem;
$header-line-height: 2.1rem;

// === Media ===

$desktop-bp: 1024px;
$tablet-bp: 991px;
$mobile-bp: 575px;
